@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }
  
  .wave .shape-fill {
    fill: #f8fafc;
  }

  html {
    scroll-behavior: smooth;
  }

 body * {
    transition: all;
    transition-timing-function: linear;
    transition-duration: 200ms;
  }